@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Tema claro */
:root {
  --color-primary: #3b82f6;
  --color-primary-dark: #2f67c1;
  --color-secondary: #0ea5e9;
  --color-neutral: #6b7280;
  --color-background: #f9fafb;
}

/* Tema escuro */
.dark {
  --color-primary: #60a5fa;
  --color-primary-dark: #4a81c4;
  --color-secondary: #38bdf8;
  --color-neutral: #d1d5db;
  --color-background: #111827;
}

/* Tailwind-like utility classes */
.bg-primary {
  background-color: var(--color-primary);
}
.bg-secondary {
  background-color: var(--color-secondary);
}
.bg-neutral {
  background-color: var(--color-neutral);
}
.bg-background {
  background-color: var(--color-background);
}

.text-primary {
  color: var(--color-primary);
}
.text-secondary {
  color: var(--color-secondary);
}
.text-neutral {
  color: var(--color-neutral);
}

button,
div,
p {
  transition: background-color 0.2s ease, color 0.3s ease;
}
