@import "tailwindcss";

@theme {
  --color-gray: #d1d5db;
  --color-blue: #0a66c2;
  --color-blue-dark: #085099;
}

input {
  border: 1px solid #d1d5db; /* gray-300 */
  border-radius: 0.375rem; /* rounded-md */
  padding: 0.5rem 0.75rem; /* px-3 py-2 */
  width: 100%;
  font-size: 0.875rem; /* text-sm */
  outline: none;
}
